.jumbotron {
  background: #a2d9ff;
  padding-top: 6rem;

  img {
    width: 200px;
  }
}

section {
  padding-top: 5rem;
}

#projects {
  background: #a2d9ff;
}

#footer p {
  margin: 0;
  padding: 0 0 50px;
  
  a {
    color: #fff;
    text-decoration: none;

    &:hover {
      color: #a2d9ff;
    }
  }
}